pygame
sklearn
numpy
matplotlib
pandas
scipy
seaborn
scikit-image
opencv-python
opencv-python-headless
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-hub
tensorflow-io
tensorflow-privacy
tensorflow-probability
tensorflow-text
tensorflow-model-optimization
tensorflow-quantum
tensorflow-io-gcs-filesystem
tensorflow-serving-api
tensorflow-estimator
tensorflow-addons
tensorflow-datasets
